*{
        box-sizing: border-box;
}
html{
        display: flexbox;
        min-width: 100%;
}
body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* haut page */
header{
        background-image: url("pages/images/sechage.webp");
    position: sticky;
    width: 100%;
    top: 0px;
    }
/* cadre header */
.header-cadre{    
        position: absolute;
        width: 1280px;
        height: 275px;
        left: 74.58px;
        top: 0px;
        background: #FFFFFF;
    }
/* brand */
.brand{       
        position: absolute;
        width: 100%;
        left: 529.58px;
        top: 83px;
}        
/* Vos cheveux, notre passion */
.slogan{    
        position: absolute;
        width: 436px;
        height: 36px;
        left: 529.58px;
        top: 201px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;
        background: linear-gradient(270deg, #FF5C00 50%, #F7A070 95.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
}       
/* Haircoholix */
.name{       
        position: absolute;
        width: 393px;
        height: 94px;
        left: 550.58px;
        top: 83px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 85px;      
        color: #FF5C00;
}
/* Prendre rendez-vous */
.rdv{    
        position: absolute;
        width: 191px;
        height: 23px;
        left: 140.58px;
        top: 126px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: hsl(22, 97%, 59%);
}

/* menu */
menu{
        display: flexbox;    
}

button{
    position: absolute;
    width: 222px;
    height: 49px;
    left: 109.58px;
    top: 328px;
    background: #FFFFFF;
    border-radius: 15px;
}       